<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndpointBehavior0">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="MetadataBehavior0">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MetadataBehavior0" name="WCFService_2Way_2016009.ServiceCallBack">
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="EndPointMex" contract="IMetadataExchange" />
                <endpoint binding="wsDualHttpBinding" bindingConfiguration=""
                    name="EndpointService" contract="WCFService_2Way_2016009.IServiceCallback" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1909" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>